@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

$graybg: #333;
$lightbg: #f5f5f5;
$orange: #E44D26;
$linkblue: #0275d8;

body{
    a{
        text-decoration: none;
        color: $lightbg;
        &:hover{
            text-decoration: none;
            color: $orange;
        }
    }

    p{
        font-size: 1.2rem;
    }
}

#scroll{
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

    p{
        color: $lightbg;
    }

    a{
        margin: 0 auto;
        display: block;
        width: 200px;
    }

    .scroll-ball{
        border-radius: 50%;
        margin: 0 auto;
        width: 90px;
        height: 90px;
        background: rgb(51,51,51);
        background: rgba(51,51,51,.6);
        z-index: 6;

        i{
            color: $lightbg;
            line-height: 1.5;
            animation: bounce 1.3s ease-in-out infinite;
            animation-play-state: paused;
            width: 90px;

            &:hover{
                animation-play-state: running;
            }
        }
    }
}

@keyframes bounce{
    0% {
        line-height: 1.5;
    }

    50% {
        line-height: 2;
    }

    100% {
        line-height: 1.5;
    }
}

header{
    width: 100%;
    z-index: 1;

    article{
        background: $graybg;
        background: url('../assets/kwai.jpg') no-repeat center center;
        background-size: cover;
        color: #333;
        text-align: center;

        .container{

            h1{
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                width: 100%;
                display: table-cell;
                padding: 50px 10px;
                background-color: $lightbg;
                text-align: center;
                vertical-align: middle;
                transition: width 0.5s linear;
                z-index: 5;

                small{
                    font-size: 60%;
                    padding-top: 1rem;
                    display: block;
                }

                i{
                    color: $orange;
                }
            }
        }
    }
}

section{
    background-color: $lightbg;

    .container{
        padding: 15px 15px 30px 15px;

        h1, h4{
            color: $orange;
        }

        a{
            color: $linkblue;

            &:hover{
                text-decoration: underline;
            }
        }

        img{
            margin-bottom: 1rem;
        }
    }
}

footer{
    width: 100%;
    background-color: $graybg;
    color: $lightbg;
    padding: 4rem 0 8rem 0;

    p{
        margin-bottom: 4rem;
    }

    i:hover{
        cursor: pointer;
        color: $orange;
    }

    span{
        display: block;
        color: $lightbg;
        margin-bottom: 25px;
    }

}


@media (min-width: 34em) {
    header article .container h1 {
        width: 8em;
    }
}

// /* Small devices (tablets, 768px and up) */
// @media (min-width: 768px) {
//
//     header{
//         article{
//             .container{
//                 h1{
//                     width: 50%;
//                     //padding: 75px 10px;
//                 }
//             }
//         }
//     }
// }
// /* Medium devices (desktops, 992px and up) */
// @media (min-width: 992px) {
//     header{
//         article{
//             .container{
//                 h1{
//                     width: 40%;
//                     //padding: 75px 10px;
//                 }
//             }
//         }
//     }
// }
//
// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {
//     header{
//         article{
//             .container{
//                 h1{
//                     width: 30%;
//                     //padding: 75px 10px;
//                 }
//             }
//         }
//     }
// }
