footer{
    width: 100%;
    background-color: $graybg;
    color: $lightbg;
    padding: 4rem 0 8rem 0;

    p{
        margin-bottom: 4rem;
    }

    a{
        text-decoration: none;
        color: $lightbg;
        &:hover{
            text-decoration: none;
            color: $orange;
        }
    }

    i:hover{
        cursor: pointer;
        color: $orange;
    }

    span{
        display: block;
        color: $lightbg;
        margin-bottom: 25px;
    }
}
